<?xml version="1.0" encoding="UTF-8" ?>

<container xmlns="http://symfony.com/schema/dic/services"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://symfony.com/schema/dic/services http://symfony.com/schema/dic/services/services-1.0.xsd">

    <parameters>
        <parameter key="foq_elastica.client.class">Elastica_Client</parameter>
        <parameter key="foq_elastica.index.class">Elastica_Index</parameter>
    </parameters>


    <services>
        <service id="foq_elastica.index_manager" class="FOQ\ElasticaBundle\IndexManager">
            <argument /> <!-- indexes -->
            <argument /> <!-- default index -->
        </service>
        <service id="foq_elastica.populator" class="FOQ\ElasticaBundle\Populator">
            <argument /> <!-- providers -->
        </service>
        <service id="foq_elastica.reseter" class="FOQ\ElasticaBundle\Reseter">
            <argument type="service" id="foq_elastica.index_manager" />
        </service>
    </services>

</container>
