<?xml version="1.0" encoding="UTF-8" ?>

<container xmlns="http://symfony.com/schema/dic/services"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://symfony.com/schema/dic/services http://symfony.com/schema/dic/services/services-1.0.xsd">

    <parameters>
        <parameter key="foq_elastica.client.class">Elastica_Client</parameter>
        <parameter key="foq_elastica.index.class">Elastica_Index</parameter>
        <parameter key="foq_elastica.type.class">Elastica_Type</parameter>
    </parameters>


    <services>

        <service id="foq_elastica.index_manager" class="FOQ\ElasticaBundle\IndexManager">
            <argument /> <!-- indexes -->
            <argument /> <!-- default index -->
        </service>

        <service id="foq_elastica.populator" class="FOQ\ElasticaBundle\Populator">
            <argument /> <!-- providers -->
        </service>

        <service id="foq_elastica.reseter" class="FOQ\ElasticaBundle\Reseter">
            <argument type="service" id="foq_elastica.index_manager" />
        </service>

        <service id="foq_elastica.mapping_setter" class="FOQ\ElasticaBundle\MappingSetter">
            <argument /> <!-- mappings -->
        </service>

        <service id="foq_elastica.type_inspector" class="FOQ\ElasticaBundle\TypeInspector" public="false" />

        <service id="foq_elastica.object_persister.prototype" class="FOQ\ElasticaBundle\Persister\ObjectPersister" public="false" abstract="true">
            <argument /> <!-- type -->
            <argument /> <!-- model to elastica transformer -->
            <argument /> <!-- model -->
            <argument /> <!-- type inspector -->
            <argument type="service" id="logger" on-invalid="null" />
            <argument>%kernel.debug%</argument>
        </service>

        <service id="foq_elastica.finder.prototype" class="FOQ\ElasticaBundle\Finder\TransformedFinder" public="true" abstract="true">
            <argument /> <!-- searchable -->
            <argument /> <!-- transformer -->
        </service>

        <service id="foq_elastica.model_to_elastica_transformer.prototype.auto" class="FOQ\ElasticaBundle\Transformer\ModelToElasticaAutoTransformer" public="false" abstract="true">
            <argument /> <!-- options -->
        </service>

    </services>

</container>
