language: php

cache:
    directories:
        - $HOME/.composer/cache

dist: trusty
sudo: required

matrix:
  include:
    - php: 5.6
      env: SYMFONY_VERSION='2.8.*'
    - php: 5.6
      env: SYMFONY_VERSION='3.0.*'
    - php: 5.6
      env: SYMFONY_VERSION='3.1.*'
    - php: 7.0
      env: SYMFONY_VERSION='2.8.*'
    - php: 7.0
      env: SYMFONY_VERSION='3.0.*'
    - php: 7.0
      env: SYMFONY_VERSION='3.1.*'
    - php: hhvm
  allow_failures:
    - php: hhvm
  fast_finish: true

before_script:
  - curl -O https://artifacts.elastic.co/downloads/elasticsearch/elasticsearch-5.0.0.deb
  - sudo dpkg -i --force-confnew elasticsearch-5.0.0.deb
  - sudo /usr/share/elasticsearch/bin/elasticsearch-plugin install -b mapper-attachments
  - sudo service elasticsearch restart
  - if [ "$TRAVIS_PHP_VERSION" != "hhvm" ]; then phpenv config-add travis.php.ini; fi;
  - sh -c 'if [ "$TRAVIS_PHP_VERSION" = "5.6" ]; then echo "extension = mongo.so" >> ~/.phpenv/versions/$(phpenv version-name)/etc/php.ini; fi;'
  - sh -c 'if [ "$TRAVIS_PHP_VERSION" = "7.0" ]; then echo "extension = mongodb.so" >> ~/.phpenv/versions/$(phpenv version-name)/etc/php.ini; fi;'
  - sh -c 'if [ "$SYMFONY_VERSION" != "" ]; then composer require --dev --no-update symfony/symfony=$SYMFONY_VERSION; fi;'
  - if [ "$DEPENDENCIES" = "dev" ]; then perl -pi -e 's/^}$/,"minimum-stability":"dev"}/' composer.json; fi;
  - composer update $COMPOSER_FLAGS --prefer-dist

script:
  - vendor/bin/phpunit --coverage-clover=coverage.clover

services:
  - elasticsearch

after_script:
  - wget https://scrutinizer-ci.com/ocular.phar
  - php ocular.phar code-coverage:upload --format=php-clover coverage.clover
