<?xml version="1.0" encoding="UTF-8"?>

<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.5/phpunit.xsd"
        colors                                     = "true"
        beStrictAboutOutputDuringTests             = "true"
        beStrictAboutTestsThatDoNotTestAnything    = "false"
        convertDeprecationsToExceptions            = "false"
        verbose                                    = "true"
        bootstrap                                  = "vendor/autoload.php"
>
    <php>
        <server name="FOS_ELASTICA_HOST" value="localhost" />
        <server name="FOS_ELASTICA_PORT" value="9200" />
    </php>

    <testsuites>
        <testsuite name="FOSElasticaBundle Test Suite">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>

    <coverage>
        <include>
            <directory>./src</directory>
        </include>
        <exclude>
            <directory>./src/Resources</directory>
        </exclude>
    </coverage>
</phpunit>
