<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="./vendor/autoload.php" colors="true">
    <php>
        <server name="SYMFONY__FOS_ELASTICA__HOST" value="127.0.0.1" />
        <server name="SYMFONY__FOS_ELASTICA__PORT" value="9200" />
    </php>

    <testsuites>
        <testsuite name="FOSElasticaBundle Test Suite">
            <directory>./Tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>./</directory>
            <exclude>
                <directory>./Resources</directory>
                <directory>./Tests</directory>
                <directory>./vendor</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
